body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    /* background: #B13EA2;
    background: linear-gradient(to right, #B13EA2 15%, #121FCF 100%); */
    background-color: black;
}


#ot_logo {
    height: 50px;
    border-radius: 100%;
}


.navbar {
    font-size: 1.4rem;
    background-color: black !important;
    color: white !important;
}

.navbar-nav .nav-item {
    padding-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.form-control {
    text-align: start;
    font-size: .9em;
    width: auto;
}

.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    width: auto;
    text-align: center;
}

.bn5:hover {
    color: white !important;
}

.bn5:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingbn5 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bn5:active:after {
    background: black;
}

.bn5:hover:before {
    opacity: 1;
}

.bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.index-title {
    margin-top: 120px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 4.5em;
    color: white;
    color: #1a98ff;
}

.my-row {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.my-row-detail {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.my-row-detail span {
    font-size: 1.2em;
    font-weight: bold;
    color: violet;
}

.title-section {
    margin-top: -30px;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    color: #1a98ff;
    text-align: center;
}

.index-image {
    height: 350px;
    width: 600px;
    object-fit: cover;
    border-radius: 25px;
    transition: 0.2s ease;
    margin: 0px 0px 50px 0px;
}

.judge-image {
    height: 400px;
    width: 600px;
    object-fit: cover;
    border-radius: 25px;
    transition: 0.2s ease;
    margin: 0px 0px 50px 0px;
}

.cont-image {
    border-radius: 25px;
    margin: 50px 50px 50px 50px;
    transition: 0.2s ease;
}

.teach-image {
    border-radius: 25px;
    margin: 50px 50px 50px 50px;
    transition: 0.2s ease;
}

.index-image:hover,
.cont-image:hover,
.teach-image:hover,
.judge-image:hover {
    transform: scale(1.1);
}

.footer-line {
    width: 100%;
    text-align: center;
    height: 100px;
    margin-top: 50px;
    font-weight: bold;
    padding-top: 20px;
    color: white !important;
    background-color: black !important;
}

.footer-line a {
    color: white !important;
    text-decoration: none;
}

.footer-line a:hover {
    border-bottom: 2px solid white;
}

.description {
    font-size: 1.2em;
    height: 500px;
    width: 450px;
    font-weight: bold;
    color: white;
    text-align: justify;
}

.contestant-description {
    font-size: 1.2em;
    height: 500px;
    width: 450px;
    font-weight: bold;
    color: white;
    text-align: justify;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}