body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    background-color: black;
    background-color: #00050d;
}

.banner {
    margin-top: 30px;
    border-radius: 25px;
    width: 88%;
    height: auto;
}

#ot_logo {
    height: 50px;
    border-radius: 100%;
}

.navbar {
    font-size: 1.4rem;
    background-color: black !important;
    background-color: #00050d !important;
    color: white !important;
}

.navbar-nav .nav-item {
    padding-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.selected {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #00050d;
    color: white !important;
}

.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    background: black;
    background: #00050d;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    width: auto;
    text-align: center;
}

.bn5:hover {
    color: white !important;
}

.bn5:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingbn5 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bn5:active:after {
    background: black;
    background: #00050d;
}

.bn5:hover:before {
    opacity: 1;
}

.bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    background: #00050d;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.my-row {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.my-row-detail {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.my-row-detail span {
    font-size: 1.2em;
    font-weight: bold;
    color: violet;
}

a {
    color: white;
    text-decoration: none;
}

.title-section {
    margin-top: -25px;
    font-size: 2em;
    font-weight: bolder;
    color: #1a98ff;
    text-align: center;
}

.title-section2 {
    margin-top: -25px;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.index-image {
    width: 600px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    transition: 0.2s ease;
    margin: 0px 0px 50px 0px;
}

.judge-image {
    width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    transition: 0.2s ease;
    margin: 0px 0px 50px 0px;
}

.cont-image {
    border-radius: 25px;
    margin: 50px 50px 50px 50px;
    transition: 0.2s ease;
}

.teach-image {
    border-radius: 25px;
    margin: 50px 50px 50px 50px;
    transition: 0.2s ease;
}

.search-image {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    margin: 50px 50px 50px 50px;
    transition: 0.2s ease;
}

.search-image:hover,
.cont-image:hover,
.teach-image:hover,
.index-image:hover,
.judge-image:hover {
    transform: scale(1.05);
}

.footer-line {
    width: 100%;
    text-align: center;
    height: 100px;
    margin-top: 150px;
    font-weight: bold;
    padding-top: 20px;
    color: white !important;
    background-color: black !important;
    background-color: #00050d !important;
}

.footer-line a {
    color: white !important;
    text-decoration: none;
}

.description {
    font-size: 1.2em;
    height: 500px;
    width: 450px;
    font-weight: bold;
    color: white;
    text-align: justify;
}

.contestant-description {
    font-size: 1.2em;
    height: 500px;
    width: 450px;
    font-weight: bold;
    color: white;
    text-align: justify;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-img {
    width: 120px;
    height: auto;
}

.input-search {
    color: white !important;
    width: 140px;
    background-color: #00050d;
    border: none;
}

.input-search:focus {
    background-color: #00050d;
    border: none;
    outline: none;
    color: white !important;
    opacity: 1;
}

.input-search:focus::placeholder,
.input-search:hover::placeholder {
    color: white;
    opacity: 1;
}

.search-help {
    display: none;
    position: absolute;
    padding-top: 15px;
    margin-left: -85px;
    font-size: 0.7em;
    width: 450px;
    z-index: 1;
}

.arrow-before {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    font-size: 0px;
    line-height: 0px;
    top: 6px;
    left: 145px;
    position: relative;
}

.arrow-after {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #00a4dd;
    font-size: 0px;
    line-height: 0px;
    top: 1px;
    left: 145px;
    position: relative;
}

.help-text {
    color: #00a4dd;
    border-radius: 25px;
    width: 305px;
    text-align: center;
    padding: 5px;
    border: 2px solid #00a4dd;
}

@media screen and (max-width: 995px) {
    .search-help {
        display: none !important;
    }
}