{% extends "base.html" %} {% load static %} {% block content %}
{% include "header.html" %}
<div class="row mt-5 text-center">
  <div class="row mt-5"></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe1.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe2.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe3.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe4.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe5.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe6.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe7.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe8.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe9.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe10.jpeg' %}" alt="profe image"></a></div>
  <div class="col-md-3 col-sm-4 mt-5"><a href=""><img class="teacher-image" src="{% static 'img/profe11.jpeg' %}" alt="profe image"></a></div>
</div>
{% endblock %}
