{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block content %}
{% include "header.html" %}
<div class="my-row">
  {% for teacher in teachers %}
  <div>
    <a href="{{ teacher.get_absolute_url }}">
      <img class="teach-image" src="{% thumbnail teacher.avatar 300x300 %}" alt="profe image">
    </a>
    <p class="title-section">{{ teacher.first_name }} {{ teacher.last_name }}</p>
  </div>
  {% endfor %}
</div>
<div class="mt-5"></div>
<div class="mt-5"></div>
{% endblock %}
