{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block content %}
{% include "header.html" %}
<div class="my-row">
  {% for contestant in contestants %}
  <div>
    <a href=" {{ contestant.get_absolute_url }} ">
      <img class="cont-image" src="{% thumbnail contestant.avatar 350x350 %}" alt="concursante image"/></a>
      <p class="title-section">{{ contestant.first_name }} {{ contestant.last_name }}</p>
  </div>
  {% endfor %}
</div>
<div class="mt-5"></div>
<div class="mt-5"></div>
{% endblock %}
