<footer class="text-center text-white">
    <div class="container pt-4">
        <section class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
        </section>
    </div>

    <div class="text-center text-dark p-3 footer-line">
        <p><a
                href="https://www.primevideo.com/storefront/ref=atv_sr_fle_c_Tn74RA_1_1_1?contentType=tournament&qid=1701868977952&contentId=amzn1.dv.icid.3a1e30f1-c804-43d7-9c5d-7392119d88c2&pageTypeIdSource=ASIN&sr=1-1&pageTypeId=B07WFHCJDV">Prime
                Video - OT2023</a></p>
        <p>©2024 Copyright</p>
    </div>
</footer>