{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand logo" href="{% url "contestant:index" %}">
            <img id="ot_logo" src="{% static 'img/ot_logo.png' %}" alt="OT logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a {% if section == 'teachers' %} class="nav-link bn5 selected" {% endif %} class="nav-link bn5" href="{% url "teacher:teachers" %}">Profesores</a>
                </li>
                <li class="nav-item">
                    <a {% if section == 'contestants' %} class="nav-link bn5 selected" {% endif %} class="nav-link bn5" href="{% url "contestant:contestants" %}">Concursantes</a>
                </li>
                <li class="nav-item">
                    <a {% if section == 'judges' %} class="nav-link bn5 selected" {% endif %} class="nav-link bn5" href="{% url "judge:judges" %}">Jurado</a>
                </li>
            </ul>
            </ul class="navbar-nav ms-auto">
            <li class="nav-item" style="list-style-type: none;">
               <form class="nav-link bn5" method="get" action= {% url "contestant:search" %} >
                    <input id="inputSearch" data-toggle="popover" data-content="Buscar por nombre, género, asignatura" class="input-search" type="text" name="input" placeholder="Búsqueda  🔍">
                    <div id="searchHelp" class="search-help">
                        <div class="arrow-before"></div>
                        <div class="arrow-after"></div>
                        <div class="help-text">Buscar por nombre, género, o asignatura</div>
                    </div>
                </form> 
            </li>
            <ul>
        </div>
    </div>
</nav>