{% extends "base.html" %} {% load static %} {% block content %}
{% include "header.html" %}
<h1 class="index-title">Operación Triunfo 2023</h1>
<div class="row mt-5 text-center">
  <div class="col-md-4">
    <a href="{% url "teacher:teacher_list" %}">
      <img class="ot_logo_2" src="{% static 'img/ot_logo.png' %}" alt="OT logo" />
    </a>
    <p class="title-section">Profesorado</p>
  </div>
  <div class="col-md-4">
    <a href="{% url "teacher:teacher_list" %}">
      <img class="ot_logo_2" src="{% static 'img/ot_logo.png' %}" alt="OT logo" />
    </a>
    <p class="title-section">Concursantes</p>
  </div>
  <div class="col-md-4">
    <a href="{% url "judge:judge_list" %}">
      <img class="ot_logo_2" src="{% static 'img/ot_logo.png' %}" alt="OT logo" />
    </a>
    <p class="title-section">Jurado</p>
  </div>
</div>
{% endblock %}