{% extends "base.html" %} {% load static %} {% block content %}

<div class="row mt-5">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <img class="ot_logo_2" src="{% static 'img/ot_logo.png' %}" alt="OT logo" />
    <p class="index_sections">Profesores</p>
  </div>
  <div class="col-md-2">
    <img class="ot_logo_2" src="{% static 'img/ot_logo.png' %}" alt="OT logo" />
    <p class="index_sections">Concursantes</p>
  </div>
  <div class="col-md-2">
    <img class="ot_logo_2" src="{% static 'img/ot_logo.png' %}" alt="OT logo" />
    <div class="row">
      <p class="index_sections">Jurado</p>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
