{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block content %}
{% include "header.html" %}
<h1 class="index-title" style="color:black;">O</h1>
<div class="my-row">
  {% for judge in judges %}
  <div>
    <a href="{{ judge.get_absolute_url }}">
      <img class="judge-image" src="{{ judge.avatar.url }}" alt="judge image">
    </a>
  <p class="title-section">{{ judge.first_name }} {{ judge.last_name }}</p>
  </div>
  {% endfor %}
</div>
<div class="mt-5"></div>
{% endblock %}
